<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
  <div class="row">
<p>
  <strong>Title:</strong>
  <%= @poem.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @poem.content %>
</p>

<%= link_to 'Back', poems_path, class: 'btn btn-default btn-sm btn-success' %>
 </div>
  </div>
</div>