<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
    <div class="wrapper col-md-4 col-md-offset-4 col-sm-12">
      <%= link_to user_path(user.id) do %>
        <div class="prof_img">
          <%= profile_img(user) %>
        </div>
      <% end %>

      <%= user.email %>
      <% unless user == current_user %>
        <%= render 'follow_form', user: user %>
      <% end %>
    </div>
  <% end %>
</div>
